.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  height: 6rem;
  position: relative;
  border-radius: 4px;
}

.navbar li {
  padding: 1rem;
  color:#ffffff
}

.navbar li:hover {
  background-color: #444;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    padding: 1rem;
  }

  .navbar li {
    padding: 0.5rem;
  }

  .navbar li:first-child {
    margin-right: auto;
  }

  .nav-bar-active {
    border-bottom: 2px solid #fff;
    padding-bottom: 0.5rem;
    color:#440500
  }
}


*{
  font-family: 'Poppins', sans-serif;
  
}
.buy{
  color: green;
}
.sell{
  color: red;
}


  li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .ticker{
    border: 3px solid;  
    border-radius: 6px;
    width: 1200px;
    height: 400px;
    margin: auto;
    margin-top: 10px;
  }

  .stock-info-container{
    border: 1px solid;
    width: 270px;
    height: 250px;
  }

  .stock-info{
    display: flex;
  }

  .stock-name{
    display: flex;
    border: 1px solid;
    width: 50%;
    height: 250px;
    font-size: 35px;
    margin: auto;
    align-items: center;
  }

  .stock-price{
    display: flex;
    border: 1px solid; 
    width: 50%;
    text-align: center;
    align-items: center;
    
  }
  .sui{
    width: 85px;
    
   
  }

  .sui1{
    width: 200px;
    margin: auto;
  }

  .home-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 10px;
  }

  .buy-sell{
    display: flex;
    flex-direction: column;
    width: 270px;
    /* border: 1px solid; */
    height: 250px;
  }

  .buy-sell2{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    /* height: 250px; */
  }

  .buy{
    width: 270px;
    height: 50%;
    /* border: 1px solid; */
  }

  .sell{
    /* border: 1px solid; */
    width: 270px;
    height: 50%;

  }

  .sellbutt{
    margin-top: 1px;
    height: 100%;
    border: 1px solid;
  }

  
  .sellbutt:hover {
    background-color: #ff0000;
    color: #fff;
  }

  .buybutt{
    height: 100%;
    border: 1px solid;
  }

  .buybutt:hover {
    background-color: #16a503;
    color: #fff;
  }

  /* body {
    background: linear-gradient(-45deg, #000000, #440500, #3b0038, #222222);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

  .sentiment{
    display: flex;
    justify-content: space-between;
    width: 270px;
    border: 1px solid;
    height: 125px;
    margin: auto 0px;
  }

  .stock-logo{
    width: 35%;
    border: solid;
  }

  .stock-sentiment{
    display: flex;
    margin: auto;
    align-items: center;
  }

/* videos */
.videos{
  display: flex;
  gap:5px;
  padding: 10px 0px;
}

/* compete */

.compete{
  display: flex;
  width: 100%;
  gap:5px;
}

.player{
  border: solid;
  width: 50%;
  height: 40rem;
}

.bot{
  border: solid;
  width: 50%;
}

.graph{
  border: 1px solid;
  width: 80%;
  margin: auto;
  height: 20rem;
}

.player-footer{
  margin-top:25px;
  display: flex;
  justify-content: space-between;
}

.controls{
  display: flex;
  border: 1px solid;
  width: 350px;
  height:200px;
}

.player-stock-info{
  border: 1px solid;
  width: 350px;
  height: 200px;
}

.timer-container{
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 350px;
  margin: auto;
  height: 90px;
}
.timer{
  margin: auto;
  font-size: 50px;
}

.result{
  width: 500px;
  height: 500px;
  border: 1px solid;
  position: absolute;
  top: 60px;
  right:520px;
  background: red;
}

/* bot */
.bot-container{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid;
}
.options{
  border: solid;
}